footer{
    vertical-align: middle;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    height:max-content;
    position: relative;
    .container-fluid{
        justify-content: space-between;
        display: flex;
    }
    .social-list{
        display: flex;
        gap:10px
    }
}

ul li{
    list-style: none;
}