
.center-container{
    display:flex;
    width: max-content;
}

.nav-link{
    color:whitesmoke;

}
.nav-link.active{
    color:white;
    text-shadow: 0 0 5px #00f, 0 0 5px #00f, 0 0 6px #00f;
}

@media screen and (max-width: 1000px) {

    .navbar-toggler{
        margin-right:95vw;
    }
  }