
header{
    background: linear-gradient(to bottom left, #024280, #042B62, #051B4D, #041540, #031138, #030F35, #030D30);
}

.center-container{
    display:flex;
    width: max-content;
}

.nav-link{
    color:whitesmoke;

}
.nav-link.active{
    color:white;
    text-shadow: 0 0 5px #00f, 0 0 5px #00f, 0 0 6px #00f;
}

@media screen and (max-width: 1000px) {

    .navbar-toggler{
        margin-right:95vw;
    }
  }