<section class="section skill" aria-labelledby="skill-label">
    <div class="container">
      <div class="skill-content">
        <h2 class="section-title headline-md" id="skill-label">My Skills</h2>
        <ul class="skill-list" *ngFor="let skill of finalSkills">
          <li>
            <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">
              <div class="card-media" *ngIf="skill.type === 'ionic'">
                <ion-icon [name]="skill.logo"></ion-icon>
              </div>
              <div class="card-media" *ngIf="skill.type !== 'ionic'">
                <i class="fa fa-bars"></i>
              </div>
              <h2 class="card-title">{{skill.name}}</h2>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>