<section class="section skill" aria-labelledby="skill-label">
    <div class="container-fluid">
      <div class="skill-content">
        <h2 class="section-title headline-md" id="skill-label">Tech Stacks</h2>
        <div class="skill-list" *ngFor="let skill of finalSkills">
            <div class="card card-sm">
              <div class="card-media" *ngIf="skill.type === 'ionic'">
                <ion-icon [name]="skill.logo" ></ion-icon>
                <!-- <span>
                  {{skill.name}}
                </span> -->
              </div>
              <div class="card-media" *ngIf="skill.type === 'special'">
                <img [src]="skill.logo"/>
                <!-- <span>{{skill.name}}</span> -->
              </div>
              <div class="card-media" *ngIf="skill.type === 'none'">
                <i [ngClass]="'fab fa-'+skill.logo"></i>
                <!-- <span>{{skill.name}}</span> -->
              </div>
              
            </div>

          </div>
        <!-- <table>
            <thead>
            </thead>
            <tbody>
              <tr *ngFor="let skill of finalSkills; let i = index">
                <td class="stacks">
                  <div class="card card-sm" [ngStyle]="{'background-color': skill.color}">
                    <div class="card-media" *ngIf="skill.type === 'ionic'">
                      <ion-icon [name]="skill.logo" ></ion-icon><span class="card-title badge badge-pill badge-light">{{skill.name}}</span>
                    </div>
                    <div class="card-media" *ngIf="skill.type === 'special'">
                      <img [src]="skill.logo"/><span class="card-title badge badge-pill badge-light">{{skill.name}}</span>
                    </div>
                    <div class="card-media" *ngIf="skill.type === 'none'">
                      <i [ngClass]="'fab fa-'+skill.logo"></i><span class="card-title badge badge-pill badge-light">{{skill.name}}</span>
                    </div>
                    
                  </div>
                </td>
                <td class="progress">
                  <div class="progress-bar" [style.background-color]="getProgressBarColor(skill.level)" [style.width.%]="calculateProgressWidth(skill.level)">
                    {{ skill.level }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table> -->
      </div>
    </div>
  </section>
