#skill-label{
    color:black
}

section{
    margin-top:3rem;
    position: relative;
    padding-block-start: calc(var(--section-padding) + 60px);
    text-align: center;
    
    height: max-content;
    // background: linear-gradient(to bottom left, #024280, #042B62, #051B4D, #041540, #031138, #030F35, #030D30);
    align-items: center;
    justify-content: center;
    // color: #fff;
    padding-bottom:3rem;
}

ion-icon{
    margin-top:20px;
    color:black;
}

img{
    margin-top:20px;
    color:black;
}
.container-fluid{
        display: flex;
        justify-content:start;
        gap:3rem;

    .skill-content{
        margin-left:8vw;
        text-align: left;
        justify-content: flex-start;
        .skill-list{
            margin-bottom: 0;
            display: inline-flex;
                flex-direction: column;
                width: max-content;
            .card{
                border:none;
                width: 6rem;
                .card-media{
                    font-size: 50px;
                    display: flex;
                    align-items: center;  
                    max-height: 2.5rem;
                    gap:5px ;
                        
                        i{  
                          font-size: 48px;
                          color:black;
                        }        
                        // span{
                        //     vertical-align: middle;
                        //     height: 100%;
                        //     display: none;
                        // }
                }
          
            }
        }
        table {
            width: 38vw;
            border-collapse: collapse;
          }
    
          th, td.stacks {
            padding: 8px;
            text-align: left;
            width: 1px;
            .card{
                border-radius: 30px;
                width: 7rem;
                align-items: center;
                height: max-content;
                .card-media{
                    display: flex;
                    align-items: center;
                    gap:2px;
                    
                    span{
                        margin-top:5px;
                    }
                }
          
            }
          }

          tr{
            td.progress{
                margin-left: 20px;
                margin-top: 20px;
                width:20rem;
                display: flex;
                vertical-align: middle;
                .progress-bar {
                    width: 20rem;
                    border-radius: 6px;
                    height: 20px;
                    color: #1f1f1f;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
              }
          }
   
    
    
    }

}


@media screen and (max-width: 768px), screen and  (max-width:1000px) {
    section{
        margin:auto;
    }
    .container-fluid{
        justify-content: center;

    }

   
    .section-title{
        margin-left:20px;
    }

}




