main{
    margin: 0;
    width: 100%;
    
}

.hero{
    position: relative;
    padding-block-start: calc(var(--section-padding) + 60px);
    text-align: center;

}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:3rem
}

.hero-content{
    display: flex;
    flex-direction: column;
    margin-left:100px;

    .hero-subtitle{
        text-align: left;
        max-width:100%;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
        margin-block-end: 20px;
    }

    .text-lg-left{
        text-align: left;
        color: hsl(0, 0%, 93%);
        strong{
            font-size: 2rem;
            letter-spacing: 2px;
        }
    }

    .hero-text { 
        text-align: left;
        margin-block: 25px; }

    .hero-banner{
        width: max-content;   
        position: relative;
    }


    

}

.hero-banner img{
    z-index: 1;
    width: calc(max-content - 5px);
    height: 50%;
    clip-path: circle();
}
.hero-banner .img-cont{
    z-index: 0;
    clip-path: circle();
    background: linear-gradient(to bottom left,#0f4970,#00265f) ;
    backdrop-filter: blur(20px);
}

@media screen and (max-width: 768px) {
    .hero-content{
        margin-left:-10px;
    }
    .btn{
        margin:0 auto;
        width: 300px;
    }
    .container-fluid {
      flex-direction: column-reverse;
      order:-1;
    }
    main{
        margin:auto;
    }
    section{
        padding-left: 10px;
        // margin-right:auto;
    }
  }
