main{
    margin: 0;
    width: 100%;
    
}

.hero{
    position: relative;
    padding-block-start: calc(var(--section-padding) + 60px);
    text-align: center;
    background: linear-gradient(to bottom left, #024280, #042B62, #051B4D, #041540, #031138, #030F35, #030D30);
    padding-block: 3rem;
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:3rem
}

.hero-content{
    display: flex;
    flex-direction: column;
    margin-left:100px;

    .hero-subtitle{
        text-align: left;
        max-width:100%;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
        margin-block-end: 20px;
    }

    .text-lg-left{
        text-align: left;
        color: hsl(0, 0%, 93%);
        strong{
            font-size: 2rem;
            letter-spacing: 2px;
        }
    }

    .hero-text { 
        text-align: left;
        margin-block: 25px; }

    .hero-banner{
        width: max-content;   
        position: relative;
    }


    

}

.btn{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    border-radius: 10px;
    background: linear-gradient(to bottom left, #024280, #042B62, #051B4D, #041540, #031138, #030F35, #030D30);
    box-shadow: 0 0 1px #00f, 0 0 2px #00f, 0 0 5px #00f;
}

.hero-banner img{
    z-index: 0;
    width: max-content;
    border-radius: 50%;
}
.hero-banner .img-cont{
    z-index: 2;
    background: linear-gradient(to bottom left,#042e4b,#00265f) ;
    border-radius: 50%;
    box-shadow: 0 0 20px #00f, 0 0 5px #00f, 0 0 6px #00f;
    width: 40vw;
}

@media screen and (max-width: 768px) {
    .hero-content{
        margin-left:-10px;
    }
    .btn{
        margin:0 auto;
        width: 300px;
    }
    .container-fluid {
      flex-direction: column-reverse;
      order:-1;
    }
    main{
        margin:auto;
    }
    section{
        padding-left: 10px;
        // margin-right:auto;
    }

    .hero-banner img{
        z-index: 1;
        width: calc(max-content - 5px);
        width:50vw;
        clip-path: circle();
    }
  }
