<main >
    <article>
      <!-- 
        - #HERO
      -->
      <section class="section hero" aria-label="home">
        <div class="container-fluid">
          <div class="hero-content">
            <p class="hero-subtitle">Hi! I'm {{info.firstName}}</p>
            <h1 class="text-lg-left">
              Crafting Full-Stack Solutions with
              <br/><strong class="text-primary">M</strong>ongoDB,
              <br/><strong class="text-success">E</strong>xpress,
              <br/><strong class="text-danger">A</strong>ngular, and
              <br/><strong class="text-warning">N</strong>ode.js
              <br/><strong>Expertise</strong>
            </h1>
            <p class="hero-text body-md">
              Based in <em>{{info.location.city | titlecase}} {{info.location.province | titlecase}} {{info.location.country | titlecase}}</em>.
            </p>
            <a href="#" class="btn btn-success">Let's Start</a>
          </div>

          <div class="hero-banner">
            <div class="img-cont">
              <img src="assets/images/profpic.png"
              alt="my pic" class="main-pic">
            </div>
          </div>
        </div>
      </section>
  
 


      <!-- 
        - #SKILL
      -->

      <!-- 
        - #CTA
      -->
      <!-- <section class="cta">
        <div class="container">
          <h2 class="title-lg">Intrested working with me?</h2>
          <a routerLink="/contact" class="btn btn-tertiary">Contact Now</a>
        </div>
      </section> -->
      
    </article>
  </main>