h2,h1,p{
    color:black;
}

section{
    margin-top:3rem;
    position: relative;
    padding-block-start: calc(var(--section-padding) + 60px);
    margin-right:5vw;  
    .container-fluid{
       
        display: flex;
        align-items: center;
        justify-content:center;
        gap:3rem;

        img{
            margin: block 20px;
            z-index: 1;
            width: 30%;
            height: 30%;
            clip-path:ellipse();
        }

        .about-content{
            width: 40vw;
            color: white;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-right: block 20px;
            text-align: right;
         

            .wrapper{
                justify-content:flex-end;
                display: flex;
                gap:20px;

                .btn{
                    width: fit-content;
                    padding-left:auto;
                    padding-right:auto;
                    text-wrap:nowrap;
                }
            }
        }
       
    }
   
}

@media screen and (max-width: 768px),screen and (max-width: 1000px){

    section{
        margin-left:8vw;
        .container-fluid{
            flex-direction: column;
            justify-content:start;

            img{
                width: 50%;
                height: 50%;
            }
  
            .about-content{
                text-align:center;
                width:80vw;
             
                .wrapper{
                    justify-content:center;
                    display: flex;
                    gap:20px;

                    a { 
                        align-self: center;
                        width:30vw;
                    }
                }
            }
         
        }

    }
}

@media screen and (max-width: 640px){
    .wrapper{
        flex-direction: column;
    }
}
