<section class="section about" aria-label="about me">
    <div class="container-fluid">
        <img src="assets/images/about-pic.jpg"
          alt="about picture"/>
      <div class="about-content">
        <h2 class="title-lg">I'm a Freelancer Full-Stack Developer
            with over a year of experience.</h2>
        <p class="body-md section-text">
          I'm a Freelancer Full-Stack Developer with over a year of experience. I code and
          create web elements for amazing people around the world. I like work with new people. New people new
          Experiences.
        </p>
        <ul class="about-list">
          <li>
            <p class="list-text">
              <strong class="strong title-md">285+</strong> Projet Completed
            </p>
          </li>
          <li>
            <p class="list-text">
              <strong class="strong title-md">190+</strong> Happy Clients
            </p>
          </li>
        </ul>
        <div class="wrapper">
          <a routerLink="/contact" class="btn btn-primary">Contact Me</a>
          <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a>
        </div>
      </div>
    </div>
  </section>