<section class="section about" aria-label="about me">
    <div class="container-fluid">
        <img src="assets/images/about-pic.jpg"
          alt="about picture"/>
      <div class="about-content">
        <h2 class="title-lg">I'm a Freelancer Full-Stack Developer
            with over a year of experience.</h2>
        <p class="body-md section-text">
          I'm a Freelancer Full-Stack Developer with over a year of experience. I code and
          create web elements for amazing people around the world. I like work with new people. New people new
          Experiences.
        </p>
        <div class="wrapper">
          <a routerLink="/contact" class="btn success">Contact Me</a>
          <a routerLink="/portfolio" class="btn danger">Portfolio</a>
        </div>
      </div>
    </div>
  </section>