body{
    background:url('../assets/images/bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    
}
a, p{
    color:whitesmoke
}

a:hover{
    color:white;
    text-shadow: 0 0 5px #00f, 0 0 5px #00f, 0 0 6px #00f;
}